@use '../../styles/mixins.scss' as *;

.new {

    &__slide {
        width: 100%;
        position: relative;

        &__container {
            min-height: 850px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__content {
            padding: 20px;
            border-radius: 10px;
            background-color: rgba(34, 31, 31, 0.8);
            max-width: 700px;
        }

        &__bg-image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -1;
            filter: brightness(60%)
        }

        p {
            @include font(1.25rem, 400, 1.5, $secondary-color);
            max-width: 600px;
        }

        &__title {
            @include font(3rem, 700, 1, $secondary-color);
            margin-bottom: 10px;
            max-width: 600px;
        }

        &__buttons {
            @include flex(center, flex-start, row, 10px);
            margin-top: 25px;
        }
    }
}



.popular {
    &__title {
        @include font(2rem, 700, 1.5, $secondary-color);
        margin-bottom: 20px;
        margin-top: 40px;
    }

    

    // .swiper{
    //     padding: 10px;
    // }

    // .swiper-slide {
    //     transition: transform 0.1s linear;
    //     &:hover {
    //         transform: scale(1.03);
    //     }
    // }
}

.genres {
    padding: 60px 0;
    &__title {
        @include font(2rem, 700, 1.5, $secondary-color);
        margin-bottom: 20px;
    }
    &__items {
        @include flex(center, center, row, 10px, wrap);

    }

    &__item {
        width: calc((100% - 50px) / 6);
    }

    &__link {
        
        cursor: pointer;
        @include flex(center, center, column, 10px);
        background-color: $gray-color;
        padding: 30px 10px;
        border-radius: 20px;
        
        span {
            @include font(1rem, 600, 1.5, $secondary-color);
        }

        svg {
            fill: $main-color;
            height: 35px;
        }

        &__title {
            @include font(1.5rem, 700, 1.2, $secondary-color);
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: $secondary-color;
        }
    }
    
}