$main-color: rgb(229, 9, 20);
$secondary-color: rgb(245, 245, 241);

$bg-color: rgb(20 20 20);
$gray-color: rgb(34 31 31);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

$font-family: 'Roboto', sans-serif;

@mixin font($size: 16px, $weight: 400, $height: 1.5, $color: $secondary-color) {
    font-family: $font-family;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}


@mixin flex($align: center, $justify: center, $direction: row, $gap: 0, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}


@mixin button() {
    color: $secondary-color;
    padding: 9px 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @include font(18px, 700);
    text-align: center;
    transition: transform 0.1s linear;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 3px solid $main-color;
}



