@use "../../styles/mixins.scss" as *;

.movie {

    &__backdrop {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__poster {
        width: 300px;
        aspect-ratio: 9/14;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        font-size: 52px;
        font-weight: 500;
    }

    &__year {
        font-weight: 500;
    }

    &__age {
        padding: 3px 10px;
        border: 1px solid $secondary-color;
    }

    &__main-info {
        background: linear-gradient(to top, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 50%);
        position: relative;
        width: 100%;
        height: 80vh;
        padding-bottom: 64px;

        .container {
            @include flex(flex-end, flex-start, row, 20px);
            height: 100%;
        }

        &__description {
            max-width: 600px;
            margin-bottom: 30px;
            font-size: 18px;
        }
        &__details {
            @include flex(center, flex-start, row, 10px);
            margin-bottom: 15px;
        }
        &__action-button {
            padding: 12px 20px ;
            border-radius: 20px;
            background-color: $gray-color;

            svg {
                fill: $secondary-color;
                height: 20px;
            }
        }
    }

    h2 {
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__content {
        @include flex(flex-start, space-between, row, 20px);

        &__left {
            max-width: 800px;
        }
    }

    &__about {
        padding: 30px 0;
    }

    &__persons {
        margin-top: 30px;
        &__items {
            @include flex(flex-start, flex-start, row, 10px, wrap);
        }

        .person {
            width: calc((100% - 50px) / 6);
            text-align: center;

            &__photo {
                width: 100%;
                aspect-ratio: 10 / 16;
                border-radius: 20px;
                object-fit: cover;
            }

            &__name {
                margin-top: 10px;
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }

    &__similar {
        padding: 30px 0;
    }
}